celery~=5.0
Django~=3.1
djangorestframework~=3.12
django-environ~=0.4
django-extensions~=3.0
django-filter~=2.4
django-model-utils~=4.0
numpy~=1.18
psycopg2-binary~=2.8
git+https://github.com/celery/django-celery-results.git@master#egg=django-celery-results